*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headings: "Playfair Display", serif;
  --content: "Montserrat", sans-serif;
  --accent-orange: #f2994a;
  --page-heading-color: #000000;
  --recepie-desc-color: #4f4f4f;
  --ingredients-color: #333333;
  --source-color: #bdbdbd;
  --footer-color: #828282;
  --side-card-headings-color: #bdbdbd;
  --side-card-icons-color: #4f4f4f;
}

.root {
}

.span-bold {
  font-weight: bold;
}

.span-italic {
  font-style: italic;
}
